@import "tailwindcss";

@theme inline {
  --color-primary: #004253;
  --color-primary-container: #005b71;
  --color-secondary: #855300;
  --color-secondary-container: #fea619;
  --color-tertiary: #00443e;
  --color-tertiary-container: #005e56;
  --color-background: #f8f9ff;
  --color-surface: #f8f9ff;
  --color-on-surface: #121c28;
  --color-on-surface-variant: #40484c;
  --color-outline: #70787d;
  --color-outline-variant: #bfc8cc;
  --color-surface-container: #e5eeff;
  --color-surface-container-low: #eef4ff;
  --color-surface-container-high: #dfe9fa;
  --color-surface-container-highest: #d9e3f4;
  --color-surface-container-lowest: #ffffff;
  
  --font-sans: var(--font-inter), sans-serif;
  --font-headline: var(--font-manrope), sans-serif;
}

:root {
  --background: #f8f9ff;
  --foreground: #121c28;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
